### Practice scraping a website

In [1]:
import pandas as pd

In [2]:
url = "https://www.goodreads.com/list/show/1.Best_Books_Ever"
data = pd.read_html(url)

In [ ]:
len(data)

In [3]:
top_books = data[0]

In [4]:
top_books.head(10)

,0,1,2,3
0,1,NaN,"The Hunger Games (The Hunger Games, #1) by Su...",Want to Read savingâ¦ Want to Read Currently ...
1,2,NaN,Harry Potter and the Order of the Phoenix (Har...,Want to Read savingâ¦ Error rating book. Refr...
2,3,NaN,"To Kill a Mockingbird (To Kill a Mockingbird, ...",Want to Read savingâ¦ Error rating book. Refr...
3,4,NaN,Pride and Prejudice by Jane Austen 4.26 avg ...,Want to Read savingâ¦ Error rating book. Refr...
4,5,NaN,"Twilight (Twilight, #1) by Stephenie Meyer 3...",Want to Read savingâ¦ Error rating book. Refr...
5,6,NaN,The Book Thief by Markus Zusak (Goodreads Aut...,Want to Read savingâ¦ Error rating book. Refr...
6,7,NaN,Animal Farm by George Orwell 3.93 avg rating...,Want to Read savingâ¦ Error rating book. Refr...
7,8,NaN,The Chronicles of Narnia (Chronicles of Narnia...,Want to Read savingâ¦ Error rating book. Refr...
8,9,NaN,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,Want to Read savingâ¦ Error rating book. Refr...
9,10,NaN,Gone with the Wind by Margaret Mitchell 4.29...,Want to Read savingâ¦ Error rating book. Refr...

In [5]:
top_books = top_books[2]

In [6]:
top_books

0     The Hunger Games (The Hunger Games, #1)  by Su...
1     Harry Potter and the Order of the Phoenix (Har...
2     To Kill a Mockingbird (To Kill a Mockingbird, ...
3     Pride and Prejudice  by Jane Austen  4.26 avg ...
4     Twilight (Twilight, #1)  by Stephenie Meyer  3...
                            ...
95    Winnie-the-Pooh (Winnie-the-Pooh, #1)  by A.A....
96    The Complete Stories and Poems  by Edgar Allan...
97    A Prayer for Owen Meany  by John Irving (Goodr...
98    Harry Potter and the Prisoner of Azkaban (Harr...
99    Interview with the Vampire (The Vampire Chroni...
Name: 2, Length: 100, dtype: object

In [119]:
num1 = top_books.iloc[0]

In [120]:
num1 = num1.replace(' by', '')
num1 = num1.replace('—','')

In [121]:
num1 = num1.split("  ")

In [122]:
num1

['The Hunger Games (The Hunger Games, #1)',
 'Suzanne Collins',
 '4.33 avg rating',
 '6,012,910 ratings',
 'score: 2,904,826,',
 'and',
 '29,615 people voted']

In [123]:
def make_df(booklist):
    """
    Returns a dataframe containing the title, author, rating, score, number of ratings,
    and votes for a given booklist.
    """   
    df = pd.DataFrame()
    
    # Loop will first clean string, then split it
    books = []
    for book in booklist:
        new_book = book.replace(' by', '')\
        .replace('—','')\
        .replace(' avg rating', '')\
        .replace(' ratings', '')\
        .replace('score: ', '')\
        .replace(' people voted', '')\
        .replace(',', '')\
        .replace(' (Goodreads Author)', '')\
        .replace('really liked it ', '')\
        .split("  ")
        
        books.append(new_book)
        
    df['title'] = [i[0] for i in books]
    df['author'] = [i[1] for i in books]
    df['rating'] = [float(i[2]) for i in books]
    df['score'] = [int(i[3]) for i in books]
    df['num_ratings'] = [int(i[4]) for i in books]
    df['votes'] = [int(i[6]) for i in books]

    return df

In [124]:
df = make_df(top_books)

In [114]:
df.head()

,title,author,rating,score,num_ratings,votes
0,The Hunger Games (The Hunger Games #1),Suzanne Collins,4.33,6012910,2904826,29615
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,2313318,2554748,26135
2,To Kill a Mockingbird (To Kill a Mockingbird #1),Harper Lee,4.27,4199157,2182187,22441
3,Pride and Prejudice,Jane Austen,4.26,2764124,1887873,19485
4,Twilight (Twilight #1),Stephenie Meyer,3.59,4660191,1440959,14685

In [117]:
# Who has the highest rating?
df[df.rating == df.rating.max()]

,title,author,rating,score,num_ratings,votes
80,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,4.62,2617090,307226,3360

In [199]:
def make_df(booklist):
    """
    Returns a dataframe containing the title, author, rating, score, number of ratings,
    and votes for a given booklist.
    """   
    df = pd.DataFrame()
    
    # Loop will first clean string, then split it
    books = []
    for book in booklist:
        new_book = book.replace(' by', '')\
        .replace('—','')\
        .replace(' avg rating', '')\
        .replace(' ratings', '')\
        .replace('score: ', '')\
        .replace(' people voted', '')\
        .replace(',', '')\
        .replace(' (Goodreads Author)', '')\
        .replace('really liked it ', '')\
        .replace('Ã«', 'e')\
        .replace('Ã©', 'e')\
        .replace('Ã\xada', 'ia')\
        .replace('Ã¡', 'a')\
        .replace('Ã³', 'o')\
        .replace('Ã¼', 'u')\
        .replace('Ã²', 'a')\
        .replace(' (Original Story By)', '')\
        .split("  ")
        
        books.append(new_book)
        
    df['title'] = [i[0] for i in books]
    df['author'] = [i[1] for i in books]
    df['rating'] = [float(i[2]) for i in books]
    df['score'] = [int(i[3]) for i in books]
    df['num_ratings'] = [int(i[4]) for i in books]
    df['votes'] = [int(i[6]) for i in books]

    return df

In [173]:
df = make_df(top_books)

In [165]:
[author for author in df.author][:10]

['Suzanne Collins',
 'J.K. Rowling',
 'Harper Lee',
 'Jane Austen',
 'Stephenie Meyer',
 'Markus Zusak',
 'George Orwell',
 'C.S. Lewis',
 'J.R.R. Tolkien',
 'Margaret Mitchell']

In [154]:
url = "https://www.goodreads.com/list/show/1.Best_Books_Ever?page=2"
data = pd.read_html(url)

In [174]:
next_100 = make_df(data[0][2])

In [160]:
next_100.head()

,title,author,rating,score,num_ratings,votes
0,Moby-Dick or the Whale,Herman Melville,3.50,459375,199861,2313
1,The Red Tent,Anita Diamant,4.17,498986,180621,2018
2,The Secret Life of Bees,Sue Monk Kidd,4.05,1073196,177416,2031
3,Clockwork Angel (The Infernal Devices #1),Cassandra Clare,4.33,616260,168704,1858
4,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.56,2376435,162537,1866

In [187]:
# [author for author in next_100.author]

In [176]:
url = "https://www.goodreads.com/list/show/1.Best_Books_Ever?page=3"
data = pd.read_html(url)

In [177]:
third_100 = make_df(data[0][2])

In [186]:
# [author for author in third_100.author]

In [179]:
url = "https://www.goodreads.com/list/show/1.Best_Books_Ever?page=4"
data = pd.read_html(url)

In [194]:
fourth = data[0][2] # There's a splitting issue b/c of the Quran; will need to be handled separately

In [196]:
url = "https://www.goodreads.com/list/show/1.Best_Books_Ever?page=5"
data = pd.read_html(url)

In [200]:
fifth = make_df(data[0][2])

In [202]:
# [author for author in fifth.author]

In [203]:
uri = "https://www.goodreads.com/list/show/1.Best_Books_Ever?page="

In [207]:
pages = []
for i in range(5,10):
    url = uri + str(i)
    data = pd.read_html(url)
    pages.append(data)

In [214]:
sixth = make_df(pages[1][0][2])

In [251]:
seventh = pd.DataFrame()
for i in range(len(pages)):
        seventh.append(make_df(pages[i][0][2]))

In [271]:
for i in range(len(pages)):
    flattened = pd.concat([sixth, make_df(pages[i][0][2])], sort=False)

In [272]:
len(flattened)

200

In [274]:
len(seventh)

0

In [275]:
len(pages)

5

In [318]:
first_900 = df.append(next_100)\
    .append(third_100)\
    .append(fifth)\
    .append(sixth)\
    .append(make_df(pages[1][0][2]))\
    .append(make_df(pages[2][0][2]))\
    .append(make_df(pages[3][0][2]))\
    .append(make_df(pages[4][0][2]))\
    .reset_index().drop(columns='index')

In [319]:
first_900.mean()

rating              4.085311
score          392613.132222
num_ratings     95493.522222
votes            1063.157778
dtype: float64

In [320]:
first_900.min()

title            11/22/63
author         A.A. Milne
rating               3.39
score                 335
num_ratings          7345
votes                  76
dtype: object

In [321]:
first_900.max()

title               Ú¯Ù Ø´Ø¯Ù Ø§Û Ø¯Ø± Ù
Ù
author         Ø³ÛØ¯ Ù
Ø±ØªØ¶Û Ù
ØµØ·ÙÙÛ
rating                                   4.82
score                                 6444904
num_ratings                           2904826
votes                                   29615
dtype: object